body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	margin-bottom: 40px;
}

.prompt-container {
	border: 2px solid rgba(105, 105, 105, 0.521);
	border-radius: 2px;
	background-color: rgb(219, 219, 219);
	padding: 10px 150px;
	padding-bottom: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.choice-container {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 20px;
}

.choice {
	/* 
	border: 2px solid rgba(0, 0, 0, 0.541);
	border-radius: 2px; */
	width: 100px;
	height: 100px;
	margin-right: 20px;
	margin-left: 20px;
}

img {
	max-width: 100%;
	max-height: 100%;
}
